/* NICK FORM STUFF */

#contactForm {
	z-index: 999;
	margin-top: 200px;
	padding: 5%;
	background: #ffffff;
	border: 9px solid #f2f2f2;
}

@media only screen and (min-width: 768px)
{
    #contactForm { max-width: 520px; margin: 150px auto auto auto; }
}

h1, p { text-align: center; }
input, textarea , button { width: 100%; }
textarea { height: 200px; }

/* END NICK FORM STUFF */

#wb_header { height: 200px; }
#wb_header > .wb_cont_bg { background: transparent none repeat left top; background-size: auto auto; }
#wb_main { height: 1080px; padding-bottom: 50px; }
#wb_main > .wb_cont_bg { background: transparent none repeat left top; background-size: auto auto; }
#wb_footer { height: 74px; }
#wb_footer > .wb_cont_bg { background: transparent none repeat-x scroll left top; }
body { background: transparent url("../gallery/bg.jpg") no-repeat scroll center top; background-size: auto auto; z-index: -1; }
.wb_sbg { background: transparent none repeat-x scroll left top; }
body, .wb_sbg { min-width: 320px; min-height: 1384px; }
.wb_cont_inner { width: 320px; height: 100%; }
.wb_cont_bg { width: 320px; margin-left: -160px; }
.root { height: 1384px; overflow: hidden; min-height: 1384px; }
#header p:last-child { margin-bottom: 0; }
#header { top: 40px; left: 10px; min-width: 305px; width: 305px; min-height: 87px; height: 87px; display: block; z-index: 95; }
#subtitle p:last-child { margin-bottom: 0; }
#subtitle { top: 130px; left: 0px; min-width: 320px; width: 320px; min-height: 66px; height: 66px; display: block; z-index: 96; }
#footer1 { top: 1000px; left: 0px; display: block; z-index: 9000; }
#footer2 { top: 64px; left: 0px; display: block; z-index: 9999; }




@media (min-width: 768px) {
	#wb_header { height: 200px; }
	#wb_main { height: 1030px; }
	#wb_footer { height: 74px; }
	body, .wb_sbg { min-width: 768px; min-height: 1304px; }
	.wb_cont_inner { width: 768px; }
	.wb_cont_bg { width: 768px; margin-left: -384px; }
	.root { height: 1304px; overflow: visible; min-height: 1304px; }
	#header { top: 10px; left: 10px; min-width: 750px; width: 750px; min-height: 63px; height: 63px; display: block; }
	#subtitle { top: 80px; left: 0px; min-width: 768px; width: 768px; min-height: 24px; height: 24px; display: block; }
	#footer1 { top: 1000px; left: 0px; display: block; }
	#footer2 { top: 64px; left: 0px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 200px; }
	#wb_main { height: 1030px; }
	#wb_footer { height: 74px; }
	body, .wb_sbg { min-width: 992px; min-height: 1304px; }
	.wb_cont_inner { width: 992px; }
	.wb_cont_bg { width: 992px; margin-left: -496px; }
	.root { height: 1254px; overflow: visible; min-height: 1304px; }
	#header { top: 10px; left: 10px; min-width: 970px; width: 970px; min-height: 74px; height: 74px; display: block; }
	#subtitle { top: 80px; left: 0px; min-width: 992px; width: 992px; min-height: 28px; height: 28px; display: block; }
	#footer1 { top: 1000px; left: 0px; display: block; }
	#footer2 { top: 64px; left: 0px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 200px; }
	#wb_main { height: 1040px; }
	#wb_footer { height: 74px; }
	body, .wb_sbg { min-width: 1200px; min-height: 1314px; }
	.wb_cont_inner { width: 1200px; }
	.wb_cont_bg { width: 1200px; margin-left: -600px; }
	.root { height: 1264px; overflow: visible; min-height: 1314px; }
	#header { top: 0px; left: 10px; min-width: 1180px; width: 1180px; min-height: 85px; height: 85px; display: block; }
	#subtitle { top: 70px; left: 0px; min-width: 1200px; width: 1200px; min-height: 34px; height: 34px; display: block; }
	#footer1 { top: 1000px; left: 0px; display: block; }
	#footer2 { top: 64px; left: 0px; display: block; }
}
